.price-list
    display: flex
    justify-content: center
    min-height: 463px
    padding: 60px 0px 120px 0px
    &__section-title
        position: relative
        text-align: center
        &:before
            @include before_circle
            top: -6px
            left: 50%
            transform: translateX(-50%)
    &__section-subtitle
        display: block
        text-align: center
    &__main-wrapper
        display: flex
        justify-content: space-evenly
        flex-wrap: wrap
        margin-top: 60px
    &__wrapper
        width: 366px
    &__text
        display: flex
        justify-content: space-between
    &__desc
        font-size: 13px
        font-weight: 500
        margin-bottom: 15px
    &__title
        position: relative
        &:before
            content: ''
            position: absolute
            width: 15px
            height: 15px
            background: $main-color
            border-radius: 100%
            left: -25px
            top: 2px
